<%= render Admin::FormComponent.new(
  title: title,
  subtitle: subtitle,
  model: model,
  action: action,
  back_url: back_url,
  submit_text: submit_text,
  method: method

) do |form| %>
<% if @exame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exame.errors.count, "erro") %> proibiram este exame de ser salvo:</h2>

      <ul>
        <% @exame.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.form_builder.label :nome %>
        <%= form.form_builder.text_field :nome, 
          class: "form-control #{'is-invalid' if form.errors.has_key?(:nome)}", 
          id: 'nome', 
          placeholder: 'Digite o nome' 
        %>
        <span class="text-danger"><%= form.errors[:nome].first %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.form_builder.label :descricao %>
        <%= form.form_builder.text_area  :descricao, 
          class: "form-control #{'is-invalid' if form.errors.has_key?(:descricao)}",
          rows: 5,
          id: 'descricao', 
          placeholder: 'Digite o descrição' 
        %>
        <span class="text-danger"><%= form.errors[:descricao].first %></span>
      </div>
    </div>
  </div>
<% end %>