<% content_for :breadcrumb do %>
  <%= render Admin::BreadcrumbComponent.new do |component| %>
    <% component.with_title do %> 
      <i class="fas fa-syringe"></i> Vacinas
    <% end %>
  <% end %>
<% end %>

<div class="row mb-3">
  <div class="col-md-2 offset-md-10">
    <%= link_to new_admin_vacina_path, class: 'btn btn-primary btn-block text-uppercase font-weight-bold' do %>
      <i class="fas fa-plus-circle"></i> Vacina
    <% end %>
  </div>
</div>

<%= render Admin::FormSearchComponent.new(
  title: 'Vacinas',
  subtitle: 'Pesquisa',
  action: admin_vacinas_path
) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.form_builder.label :nome, 'Nome' %>
        <%= form.form_builder.text_field :nome, class: 'form-control', id: 'nome', value: params[:nome], placeholder: 'Digite o nome' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.form_builder.label :descricao, 'Descrição' %>
        <%= form.form_builder.text_field :descricao, class: 'form-control', id: 'descricao', value: params[:descricao], placeholder: 'Digite o descrição' %>
      </div>
    </div>
  </div>
<% end %>

<%= render Admin::TableComponent.new(
  title: 'Vacinas',
  subtitle: 'Listagem',
  headers: ['Nome', 'Descrição', 'Ativo', 'Ações'],
  records: @vacinas,
  pagy: @pagy
) do %>
  <% @vacinas.each do |vacina| %>
    <tr class="text-center">
      <td class="align-middle"><%= vacina.nome %></td>
      <td class="align-middle"><%= vacina.descricao %></td>
      <td>
        <%= render Admin::BadgeComponent.new(
            badge_title: vacina.ativo ? 'Sim' : 'Não', 
            badge_class: vacina.ativo ? 'bg-success' : 'bg-danger'
        ) %>
      </td>
      <td>
        <div class="dropdown dropright">
          <button 
            id="dropdown-<%= vacina.id %>" 
            class="btn btn-warning dropdown-toggle" 
            type="button" 
            data-toggle="dropdown" 
            aria-expanded="false"
          >
            <i class="fas fa-cog"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-<%= vacina.id %>">
            <%= link_to edit_admin_vacina_path(vacina), class: 'dropdown-item' do %>
              <i class="fas fa-edit"></i> Editar
            <% end %>

            <%= link_to "vacina-modal-#{vacina.id}-destroy", class: 'dropdown-item', data: { toggle: 'modal', target: "#vacina-modal-#{vacina.id}-destroy" } do %>
              <i class="fas fa-trash-alt"></i> Deletar
            <% end %>

            <% content_for :modal do %>
              <%= 
                render partial: 'modal_destroy', locals: {
                  title: 'Vacina',
                  subtitle: 'Deletar',
                  target: "vacina-modal-#{vacina.id}-destroy",
                  vacina: vacina,
                  action: admin_vacina_path(vacina),
                  method: 'delete'
                }
              %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
<% end %>