<% content_for :breadcrumb do %>
  <%= render Admin::BreadcrumbComponent.new do |component| %>
    <% component.with_title do %> 
      <i class="fas fa-user-tie"></i> Cidadãos
    <% end %>
  <% end %>
<% end %>

<div class="row mb-3">
  <div class="col-md-2 offset-md-10">
    <%= link_to new_admin_cidadao_path, class: 'btn btn-primary btn-block text-uppercase font-weight-bold' do %>
      <i class="fas fa-plus-circle"></i> Cidadão
    <% end %>
  </div>
</div>

<%= render Admin::FormSearchComponent.new(
  title: 'Cidadãos',
  subtitle: 'Pesquisa',
  action: admin_cidadaos_path
) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.form_builder.label :nome, 'Nome' %>
        <%= form.form_builder.text_field :nome, class: 'form-control', id: 'nome', value: params[:nome], placeholder: 'Digite o nome' %>
      </div>
    </div>
  </div>
<% end %>

<%= render Admin::TableComponent.new(
  title: 'Cidadãos',
  subtitle: 'Listagem',
  headers: ['Nome', 'Descrição', 'Ativo', 'Ações'],
  records: @cidadaos,
  pagy: @pagy
) do %>
  <% @cidadaos.each do |cidadao| %>
    <tr class="text-center">
      <td class="align-middle"><%= cidadao.nome %></td>
      <td class="align-middle limited-width"></td>
      <td class="align-middle">
        <%= render Admin::BadgeComponent.new(
            badge_title: cidadao.ativo ? 'Sim' : 'Não', 
            badge_class: cidadao.ativo ? 'bg-success' : 'bg-danger'
        ) %>
      </td>
      <td class="align-middle">
        <div class="dropdown dropright">
          <button 
            id="dropdown-<%= cidadao.id %>" 
            class="btn btn-warning dropdown-toggle" 
            type="button" 
            data-toggle="dropdown" 
            aria-expanded="false"
          >
            <i class="fas fa-cog"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-<%= cidadao.id %>">
            <%= link_to edit_admin_cidadao_path(cidadao), class: 'dropdown-item' do %>
              <i class="fas fa-edit"></i> Editar
            <% end %>

            <%= link_to "cidadao-modal-#{cidadao.id}-destroy", class: 'dropdown-item', data: { toggle: 'modal', target: "#cidadao-modal-#{cidadao.id}-destroy" } do %>
              <i class="fas fa-trash-alt"></i> Deletar
            <% end %>

            <% content_for :modal do %>
              <%= 
                render partial: 'modal_destroy', locals: {
                  title: 'Cidadão',
                  subtitle: 'Deletar',
                  target: "cidadao-modal-#{cidadao.id}-destroy",
                  cidadao: cidadao,
                  action: admin_cidadao_path(cidadao),
                  method: 'delete'
                }
              %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
<% end %>