<% content_for :breadcrumb do %>
  <%= render Admin::BreadcrumbComponent.new do |component| %>
    <% component.with_title do %> 
      <i class="fas fa-user-tie"></i> Cidadãos
    <% end %>
    <% component.with_link(name: 'Cidadãos', link: admin_cidadaos_path) %>
    <% component.with_link(name: 'Detalhe do Cidadão', link: '#') %>
  <% end %>
<% end %>

<div class="row mb-3">
  <div class="col-md-12">
    <%= render partial: 'cidadao', locals: { cidadao: @cidadao } %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-2 offset-md-10">
    <%= link_to new_admin_cidadao_animal_path(cidadao_id: @cidadao.id), class: 'btn btn-vetmovel btn-block text-uppercase font-weight-bold' do %>
      <i class="fas fa-plus-circle"></i> Animal
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3 class="card-title text-uppercase font-weight-bold">
      <i class="fas fa-paw"></i> Animais
    </h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <% unless @cidadao.animais.nil? %>
        <% @cidadao.animais.each do |animal| %>
          <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
            <div class="card bg-light d-flex flex-fill">
              <div class="card-header border-bottom-0 text-uppercase">
                <% if animal.obito %>
                  <i class="fas fa-cross fa-2x text-secondary"></i>
                <% end %> 
                <% case animal.especie.nome %>
                <% when 'Canina' %>
                  <i class="fas fa-dog fa-2x"></i> Canina
                <% when 'Felina' %>
                  <i class="fas fa-cat fa-2x"></i> Felina
                <% when 'Aves' %>
                  <i class="fas fa-dove fa-2x"></i> Aves
                <% else %>
                  <%= animal.especie.nome %>
                <% end %>
              </div>
              <div class="card-body pt-0">
                <div class="row mt-2 mb-2">
                  <div class="col-md-12 text-center">
                    <% if animal.thumbnail.present? %>
                      <%= image_tag animal.thumbnail.variant(:cover), class: 'rounded img-fluid' %>
                    <% else %>
                      <%= image_tag 'sem-foto.png', class: '' %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <b>RGA:</b> <%= animal.rga %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <b>Nome:</b> <%= animal.nome %>
                  </div>
                  <div class="col-md-6">
                    <b>Data Nascimento:</b> <%= animal.formatted_data_nascimento %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <b>Idade:</b> <%= animal.idade %>
                  </div>
                  <div class="col-md-6">
                    <b>Castrado:</b>
                    <%= render Admin::BadgeComponent.new(
                        badge_title: animal.castrado ? 'Sim' : 'Não', 
                        badge_class: animal.castrado ? 'bg-success' : 'bg-danger'
                    ) %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <b>Sexo:</b> <%= animal.sexo.nome %>
                  </div>
                  <div class="col-md-6">
                    <b>Óbito:</b>
                    <%= render Admin::BadgeComponent.new(
                        badge_title: animal.obito ? 'Sim' : 'Não', 
                        badge_class: animal.obito ? 'bg-danger' : 'bg-secondary'
                    ) %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <b>Pelagem (Cor dos Pelos):</b> <%= animal.pelagem.nome if animal.pelagem_id.present? %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <b>Espécie:</b> <%= animal.especie.nome %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <b>Raça:</b> <%= animal.raca.nome if animal.raca_id.present? %>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div>
                  
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
          Nenhum animal encontrado.
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
  </div>
</div>
