<% content_for :breadcrumb do %>
  <%= render Admin::BreadcrumbComponent.new do |component| %>
    <% component.with_title do %> 
      <i class="fas fa-user-tie"></i> Cidadãos
    <% end %>
    <% component.with_link(name: 'Cidadãos', link: admin_cidadaos_path) %>
    <% component.with_link(name: 'Detalhe do Cidadão', link: '#') %>
  <% end %>
<% end %>

<div class="row mb-3">
  <div class="col-md-12">
    <%= render partial: 'cidadao', locals: { cidadao: @cidadao } %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3 class="card-title text-uppercase font-weight-bold">
      <i class="fas fa-dog"></i> <i class="fas fa-cat"></i> <i class="fas fa-dove"></i> Animais
      <%= link_to new_admin_cidadao_animal_path(cidadao_id: @cidadao.id), class: 'btn btn-vetmovel text-uppercase font-weight-bold' do %>
        <i class="fas fa-plus-circle"></i> Animal
      <% end %>
    </h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <% unless @cidadao.animais.nil? %>
        <% @cidadao.animais.each do |animal| %>
          <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
            <div class="card bg-light d-flex flex-fill">
              <div class="card-header border-bottom-0 text-uppercase">
                <% if animal.obito %>
                  <i class="fas fa-cross fa-2x text-secondary"></i>
                <% end %> 
                <% case animal.especie.nome %>
                <% when 'Canina' %>
                  <i class="fas fa-dog fa-2x"></i> Canina
                <% when 'Felina' %>
                  <i class="fas fa-cat fa-2x"></i> Felina
                <% when 'Aves' %>
                  <i class="fas fa-dove fa-2x"></i> Aves
                <% else %>
                  <%= animal.especie.nome %>
                <% end %>
              </div>
              <div class="card-body pt-0">
                <div class="row mt-2">
                  <div class="col-md-12">
                    <b>Nome:</b> <%= animal.nome %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <b>Data Nascimento:</b> <%= animal.formatted_data_nascimento %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <b>Idade:</b> <%= animal.idade %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <b>Castrado:</b>
                    <%= render Admin::BadgeComponent.new(
                        badge_title: animal.castrado ? 'Sim' : 'Não', 
                        badge_class: animal.castrado ? 'bg-success' : 'bg-danger'
                    ) %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <b>Sexo:</b> <%= animal.sexo.nome %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <b>Pelagem (Cor dos Pelos):</b> <%= animal.pelagem.nome if animal.pelagem_id.present? %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <b>Espécie:</b> <%= animal.especie.nome %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <b>Raça:</b> <%= animal.raca.nome if animal.raca_id.present? %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <b>Óbito:</b>
                    <%= render Admin::BadgeComponent.new(
                        badge_title: animal.obito ? 'Sim' : 'Não', 
                        badge_class: animal.obito ? 'bg-secondary' : 'bg-success'
                    ) %>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="text-right">
                  <%= link_to "animal-modal-#{animal.id}-destroy", class: 'btn btn-sm btn-danger text-uppercase font-weight-bold', data: { toggle: 'modal', target: "#animal-modal-#{animal.id}-destroy" } do %>
                    <i class="fas fa-trash-alt"></i> Deletar
                  <% end %>
                  <%= link_to '#', class: 'btn btn-sm btn-primary text-uppercase font-weight-bold' do %>
                    <i class="fas fa-edit"></i> Editar
                  <% end %>
                  <%= link_to new_image_admin_cidadao_animais_path(cidadao_id: @cidadao.id, id: animal.id), class: 'btn btn-sm btn-primary text-uppercase font-weight-bold' do %>
                    <i class="fas fa-camera-retro"></i> Imagem
                  <% end %>

                  <% content_for :modal do %>
                    <%= 
                      render partial: 'animal_modal_destroy', locals: {
                        title: 'Animal',
                        subtitle: 'Deletar',
                        target: "animal-modal-#{animal.id}-destroy",
                        animal: animal,
                        action: '#',
                        method: 'delete'
                      }
                    %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
          Nenhum animal encontrado.
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
  </div>
</div>
