<%= render Admin::CardComponent.new(title: 'Cidadão', subtitle: 'Detalhes', back_url: admin_cidadao_path(@cidadao)) do |component| %>
  <div class="row mb-3">
    <div class="col-md-4">
      <p class="font-weight-bold">CPF</p>
      <%= cidadao.formatted_cpf %>
    </div>
    <div class="col-md-4">
      <p class="font-weight-bold">Data Nascimento</p>
      <%= cidadao.formatted_data_nascimento %>
    </div>
    <div class="col-md-4">
      <p class="font-weight-bold">E-mail</p>
      <%= cidadao.email %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <p class="font-weight-bold">Nome</p>
      <%= cidadao.nome %>
    </div>
    <div class="col-md-6">
      <p class="font-weight-bold">Nome Social</p>
      <%= cidadao.nome_social %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4">
      <p class="font-weight-bold">Telefone</p>
      <%= cidadao.formatted_telefone %>
    </div>
    <div class="col-md-4">
      <p class="font-weight-bold">Celular</p>
      <%= cidadao.formatted_celular %>
    </div>
    <div class="col-md-4">
      <p class="font-weight-bold">Telefone Contato</p>
      <%= cidadao.formatted_telefone_contato %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="font-weight-bold">Ativo</p>
      <%= render Admin::BadgeComponent.new(
        badge_title: cidadao.ativo ? 'Sim' : 'Não', 
        badge_class: cidadao.ativo ? 'bg-success' : 'bg-danger'
      ) %>
    </div>
  </div>
<% end %>