<%= render Admin::FormComponent.new(
  title: title,
  subtitle: subtitle,
  model: model,
  action: action,
  back_url: back_url,
  submit_text: submit_text,
  method: method

) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.form_builder.label :nome %>
        <%= form.form_builder.text_field :nome,
          class: "form-control #{'is-invalid' if form.errors.has_key?(:nome)}", 
          id: 'nome', 
          placeholder: 'Digite o nome do animal' 
        %>
        <span class="text-danger"><%= form.errors[:nome].first %></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= form.form_builder.label :data_nascimento %>
        <%= form.form_builder.text_field :data_nascimento,
          class: "form-control mask_date #{'is-invalid' if form.errors.has_key?(:data_nascimento)}", 
          id: 'data_nascimento', 
          placeholder: 'Digite a data de nascimento' 
        %>
        <span class="text-danger"><%= form.errors[:data_nascimento].first %></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= form.form_builder.label :castrado %>
        <%= form.form_builder.select :castrado, @castrados, {},
          class: "form-control #{'is-invalid' if form.errors.has_key?(:castrado)}",
          id: 'castrado'
        %>
        <span class="text-danger"><%= form.errors[:castrado].first %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.form_builder.label :animal_sexo_id %>
        <%= form.form_builder.select :animal_sexo_id, @animais_sexos, {},
          class: "form-control #{'is-invalid' if form.errors.has_key?(:animal_sexo_id)}",
          id: 'animal_sexo_id'
        %>
        <span class="text-danger"><%= form.errors[:animal_sexo_id].first %></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= form.form_builder.label :pelagem_id %>
        <%= form.form_builder.select :pelagem_id, @pelagens, {},
          class: "form-control #{'is-invalid' if form.errors.has_key?(:pelagem_id)}",
          id: 'pelagem_id'
        %>
        <span class="text-danger"><%= form.errors[:pelagem_id].first %></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= form.form_builder.label :especie_id %>
        <%= form.form_builder.select :especie_id, @especies, {},
          class: "form-control #{'is-invalid' if form.errors.has_key?(:especie_id)}",
          id: 'especie_id',
          data: { controller: 'racas', action: 'change->racas#loadRacas', racas_target: 'especie' }
        %>
        <span class="text-danger"><%= form.errors[:especie_id].first %></span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= form.form_builder.label :raca_id %>
        <%= form.form_builder.select :raca_id, {}, {},
          class: "form-control #{'is-invalid' if form.errors.has_key?(:raca_id)}",
          id: 'raca_id'
        %>
        <span class="text-danger"><%= form.errors[:raca_id].first %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.form_builder.label :obito %>
        <%= form.form_builder.select :obito, @obitos, {},
          class: "form-control #{'is-invalid' if form.errors.has_key?(:obito)}",
          id: 'obito'
        %>
        <span class="text-danger"><%= form.errors[:obito].first %></span>
      </div>
    </div>
  </div>
<% end %>