<p class="login-box-msg"><%= t('devise.passwords.new.forgot_your_password') %></p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="input-group mb-3">
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Digite o seu e-mail', autocomplete: "email", value: resource.email %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-envelope"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= f.submit t('devise.passwords.new.send_me_reset_password_instructions'), class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>