<% content_for :breadcrumb do %>
  <%= render Admin::BreadcrumbComponent.new do |component| %>
    <% component.with_title do %> 
      <i class="fas fa-tools"></i> Serviços
    <% end %>
  <% end %>
<% end %>

<div class="row mb-3">
  <div class="col-md-2 offset-md-10">
    <%= link_to new_admin_servico_path, class: 'btn btn-vetmovel btn-block text-uppercase font-weight-bold' do %>
      <i class="fas fa-plus-circle"></i> Serviço
    <% end %>
  </div>
</div>

<%= render Admin::FormSearchComponent.new(
  title: 'Serviços',
  subtitle: 'Pesquisa',
  action: admin_animais_path
) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.form_builder.label :nome, 'Nome' %>
        <%= form.form_builder.text_field :nome,
          class: 'form-control',
          id: 'nome',
          value: params[:nome],
          placeholder: 'Digite o nome'
        %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.form_builder.label :descricao, 'Descrição' %>
        <%= form.form_builder.text_field :descricao, 
          class: 'form-control',
          id: 'descricao',
          value: params[:descricao],
          placeholder: 'Digite a descrição'
        %>
      </div>
    </div>
  </div>
<% end %>

<%= render Admin::TableComponent.new(
  title: 'Serviços',
  subtitle: 'Listagem',
  headers: ['Nome', 'Descrição', 'Ativo', 'Ações'],
  records: @servicos,
  pagy: @pagy
) do %>
  <% @servicos.each do |servico| %>
    <tr class="text-center">
      <td class="align-middle"><%= servico.nome %></td>
      <td class="align-middle"><%= servico.descricao %></td>
      <td>
        <%= render Admin::BadgeComponent.new(
            badge_title: servico.ativo ? 'Sim' : 'Não', 
            badge_class: servico.ativo ? 'bg-success' : 'bg-danger'
        ) %>
      </td>
      <td class="align-middle">
        <div class="dropdown dropright">
          <button 
            id="dropdown-<%= servico.id %>" 
            class="btn btn-vetmovel dropdown-toggle" 
            type="button" 
            data-toggle="dropdown" 
            aria-expanded="false"
          >
            <i class="fas fa-cog"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdown-<%= servico.id %>">
            <%= link_to edit_admin_servico_path(servico), class: 'dropdown-item' do %>
              <i class="fas fa-edit"></i> Editar
            <% end %>

            <%= link_to "servico-modal-#{servico.id}-destroy", class: 'dropdown-item', data: { toggle: 'modal', target: "#servico-modal-#{servico.id}-destroy" } do %>
              <i class="fas fa-trash-alt"></i> Deletar
            <% end %>

            <% content_for :modal do %>
              <%= 
                render partial: 'modal_destroy', locals: {
                  title: 'Serviço',
                  subtitle: 'Deletar',
                  target: "servico-modal-#{servico.id}-destroy",
                  servico: servico,
                  action: admin_servico_path(servico),
                  method: 'delete'
                }
              %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
<% end %>