<div class="card">
  <div class="card-header">
    <h3 class="card-title font-weight-bold text-uppercase">
      <% if title.present? %>
        <%= title %>
      <% end %>

      <% if subtitle.present? %>
        <span class="badge badge-secondary"><%= subtitle %></span>
      <% end %>
    </h3>
  </div>
  <%= form_with(url: action, method: method, id: 'filter-form') do |form| %>
    <div class="card-body">
      <% @form_builder = form %>
      <%= content %>
    </div>
    <div class="card-footer bg-transparent border-top">
      <div class="row justify-content-end">
        <div class="col-6 col-sm-6 col-md-2">
          <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block text-uppercase font-weight-bold') do %>
            <i class="fas fa-search"></i> <%= submit_text %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>