<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header text-uppercase">
        <h3 class="card-title font-weight-bold text-uppercase">
          <% if icon.present? %>
            <i class="<%= icon %>"></i>
          <% end %>
          
          <%= title.present? ? title : 'Table' %>
          
          <% if subtitle.present? %>
            <span class="badge badge-secondary"><%= subtitle %></span>
          <% end %>
        </h3>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover table-striped text-nowrap">
          <% if headers.present? %>
            <thead>
              <tr class="text-center text-uppercase">
                <% headers.each do |header| %>
                  <th class="align-middle"><%= header %></th>
                <% end %>
              </tr>
            </thead>
          <% end %>
          
          <tbody>
            <% if records && records.length > 0 %>
              <%= content %>
            <% else %>
              <tr class="text-center">
                <td class="align-middle" colspan="<%= headers.length %>">Nenhum registro encontrado.</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <% if pagy.present? && pagy.pages > 1 %>
        <div class="card-footer clearfix border-top bg-transparent" style="padding-bottom: 0.1px !important;">
          <div class="float-right">
            <%== pagy_bootstrap_nav(pagy) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
