<%= render Admin::ModalComponent.new(title: title, subtitle: subtitle, target: target, model: antipulga) do |component| %>
  
  <% component.with_body do %> 
    <div class="row mb-3">
      <div class="col text-danger text-center">
        Deseja deletar o antipulga abaixo?
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <p class="font-weight-bold">Nome:</p> <%= antipulga.nome %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <p class="font-weight-bold">Descrição:</p> <%= antipulga.descricao %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="font-weight-bold">Criado por:</p> <%= antipulga.autor.nome %>
      </div>
      <div class="col">
        <p class="font-weight-bold">Data:</p> <%= antipulga.created_at %>
      </div>
    </div>
  <% end %>

  <% component.with_footer do %>
    <%= form_with(model: antipulga, url: action, method: method) do %>
      <%= button_tag(type: 'submit', class: 'btn btn-danger font-weight-bold text-uppercase') do %>
        <i class="fas fa-trash"></i> Deletar
      <% end %>
    <% end %>
    <button type="button" class="btn btn-dark font-weight-bold text-uppercase" data-dismiss="modal">
      <i class="fas fa-times-circle"></i> Fechar
    </button>
  <% end %>
<% end %>