<p class="login-box-msg">Faça login para iniciar sua sessão.</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="input-group mb-3">
    <%= f.email_field :email, 
      class: "form-control",
      autocomplete: "email", 
      placeholder: "Digite o seu e-mail"
    %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-envelope"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <%= f.password_field :password, class: "form-control", autocomplete: "current-password", placeholder: "Digite a sua senha" %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.submit "Entrar", class: "btn btn-vetmovel btn-block text-uppercase" %>
    </div>
  </div>
<% end %>

<p class="mb-1 mt-2">
  <%= link_to 'Esqueceu a sua senha?', new_usuario_password_path, class: 'btn btn-vetmovel btn-block text-uppercase' %>
</p>
