<aside class="main-sidebar sidebar-dark-warning elevation-4">
  <%= link_to admin_root_path, class: 'brand-link', style: '' do %>
    <%= image_tag 'logo-vetmovel.png', alt: 'VetMóvel Logo', class: 'brand-image elevation-3', style: 'opacity: .8' %>
    <span class="brand-text font-weight-light">VetMóvel</span>
  <% end %>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <%= image_tag "usuario.png", class: "img-circle elevation-2", alt: "Usuário imagem" %>
      </div>
      <div class="info">
        <a href="#" class="d-block text-white"><%= current_usuario.nome.split.first %></a>
      </div>
    </div>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item text-uppercase">
          <%= link_to admin_root_path, class: 'nav-link' + (current_page?(admin_root_path) ? ' active' : '') do %>
            <i class="nav-icon fas fa-tachometer-alt text-white"></i>
            <p class="text-white">Dashboard</p>
          <% end %>
        </li>
        <li class="nav-item text-uppercase">
          <%= link_to admin_antipulgas_path, class: "nav-link #{'active' if request.path.start_with?('/administracao/antipulgas')}" do %>
            <i class="nav-icon fas fa-bug text-white"></i>
            <p class="text-white">Antipulgas</p>
          <% end %>
        </li>
        <li class="nav-item text-uppercase">
          <%= link_to admin_cirurgias_path, class: "nav-link #{'active' if request.path.start_with?('/administracao/cirurgias')}" do %>
            <i class="nav-icon fas fa-procedures text-white"></i>
            <p class="text-white">Cirurgias</p>
          <% end %>
        </li>
        <li class="nav-item text-uppercase">
          <%= link_to admin_especies_path, class: "nav-link #{'active' if request.path.start_with?('/administracao/especies')}" do %>
            <i class="nav-icon fas fa-paw text-white"></i>
            <p class="text-white">Espécies</p>
          <% end %>
        </li>
        <li class="nav-item text-uppercase">
          <%= link_to admin_exames_path, class: "nav-link #{'active' if request.path.start_with?('/administracao/exames')}" do %>
            <i class="nav-icon fas fa-stethoscope text-white"></i>
            <p class="text-white">Exames</p>
          <% end %>
        </li>
        <li class="nav-item text-uppercase">
          <%= link_to admin_pelagens_path, class: "nav-link #{'active' if request.path.start_with?('/administracao/pelagens')}" do %>
            <i class="nav-icon fas fa-palette text-white"></i>
            <p class="text-white">Pelagens</p>
          <% end %>
        </li>
        <li class="nav-item text-uppercase">
          <%= link_to admin_racas_path, class: "nav-link #{'active' if request.path.start_with?('/administracao/racas')}" do %>
            <i class="nav-icon fas fa-stethoscope text-white"></i>
            <p class="text-white">Raças</p>
          <% end %>
        </li>
        <li class="nav-item text-uppercase">
          <%= link_to admin_vacinas_path, class: "nav-link #{'active' if request.path.start_with?('/administracao/vacinas')}" do %>
            <i class="nav-icon fas fa-syringe text-white"></i>
            <p class="text-white">Vacinas</p>
          <% end %>
        </li>
        <li class="nav-item text-uppercase">
          <%= link_to admin_vermifugos_path, class: "nav-link #{'active' if request.path.start_with?('/administracao/vermifugos')}" do %>
            <i class="nav-icon fas fa-pills text-white"></i>
            <p class="text-white">Vermífugos</p>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>