<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VetMóvel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon-vetmovel.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="layout-fixed control-sidebar-slide-open layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
      <%= render partial: 'layouts/shared/application/preloader' %>
      <%= render partial: 'layouts/shared/application/header' %>
      <%= render partial: 'layouts/shared/application/menu' %>
      <div class="content-wrapper">
        <%= yield :breadcrumb %>
        <section class="content">
          <div class="container-fluid">
            <% if flash.any? %>
              <%= render Admin::FlashMessageComponent.new(flash: flash) %>
            <% end %>
            <%= yield %>
          </div>
        </section>
      </div>
      <%= render partial: 'layouts/shared/application/footer' %>
    </div>
    <%= yield :modal %>
  </body>
</html>
